@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
main {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
img {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  margin: 0;
}

.text {
  -webkit-touch-callout: unset;
  -webkit-user-select: unset;
  -khtml-user-select: unset;
  -moz-user-select: unset;
  -ms-user-select: unset;
  user-select: unset;
}

button {
  font-family: "Quicksand", sans-serif;
  border: unset;
  margin: 0;
  padding: 0;
}

@import url("./splash.css");
@import url("./home.css");
@import url("./upload.css");
@import url("./files.css");
